<div id='people-search' class='right-banner'>
	<%= form_for @search, :as => :search, :url => search_people_path, :html => {:method => :get} do |f| %>
    <%= f.label :plain_fullname_contains, 'Find Staffer' %>
    <%= f.text_field :plain_fullname_contains, :size => 20 %> 
    <%= f.submit 'Search', :class => 'awesome small green button' %>
		<%= link_to 'Manage Titles', titles_path, :class => 'awesome small blue button', :id => 'manage-titles-link' %>
  <% end %>
</div>