<%= form.error_messages %>

<div class="field">
	<%= form.label :name %><br />
	<%= form.text_field :name %>
</div>
<div class="field">
	<%= form.label :manager_id, 'Manager' %><br />
	<%= form.select :manager_id, options_from_collection_for_select(@company_people, 'id', 'list_name', @department.manager_id), { :include_blank => 'None Yet' } %>
</div>
<div class="actions">
	<%= form.submit %> <%= link_to 'Cancel', companies_path, :class => 'canceler' %>
</div>
