<% form_for(@department) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manager_id, 'Manager' %><br />
    <%= f.select :manager_id, options_from_collection_for_select(@company_people, 'id', 'list_name', @department.manager_id), { :include_blank => 'None Yet' } %>
  </div>
  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancel', companies_path, :class => 'canceler' %>
  </div>
<% end %>
