<p>
	<span style='float: right; width: 200px; margin-left: 10px; margin-bottom: 10px;'><%= link_to image_tag('wgd_home-thumb.png'), image_path('wgd_home.png'), :title => 'SixArm Demo Hompage', :class => 'image' %></span>
	This application demonstrates the use of a number of freely available open source Ruby libraries developed by Joel Parker Henderson of SixArm. Bill Lazar provided documentation and refactoring advice for the gems and developed this application.
</p>
<p>
	The demo app uses four models: Company has many Departments, Department has many People, Title has many People (Company has many People for convenience). A Pages controller is included to trigger the About page (route: match '/about' => 'page#about').
</p>
<h3 style='clear: both;'>Use of SixArm Libraries</h3>
<ul>
	<li>Search will match on any part of a person's name. This uses the full_name method from <%= link_to 'PersonName', 'http://github.com/sixarm/sixarm_ruby_person_name' %>, with full names saved in a Person model before_save callback using  <%= link_to 'Unaccent', 'http://github.com/sixarm/sixarm_ruby_unaccent' %> to normalize the name.</li>
	<li>Default password are generated with <%= link_to 'PasswordText', 'http://github.com/sixarm/sixarm_password_text' %>.</li>
	<li>Import and export staff functions use methods from <%= link_to 'SpreadsheetHelpers', 'http://github.com/sixarm/sixarm_spreadsheet_helpers' %>.</li>
	<li>Staffer favorite colors use <%= link_to 'Colorful', 'http://github.com/sixarm/sixarm_colorful' %>.</li>
</ul>
<p>
	Because UI is not of primary interest, much of the links are Ajaxed and load into the same page--clicking Cancel removes the secondary content from the page.
</p>
