
<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :incorporation_year, 'Incorporated' %><br />
    <%= f.text_field :incorporation_year %>
  </div>
  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancel', companies_path, :remote => true, :class => 'canceler' %>
  </div>
<% end %>
