
<%# render "shared/error_messages", :target => form %>

<div class="field">
	<%= form.label :name %><br />
	<%= form.text_field :name %>
</div>
<div class="field">
	<%= form.label :city %><br />
	<%= form.text_field :city %>
</div>
<div class="field">
	<%= form.label :state %><br />
	<%= form.text_field :state %>
</div>
<div class="field">
	<%= form.label :incorporation_year, 'Incorporated' %><br />
	<%= form.text_field :incorporation_year %>
</div>
<div class="actions">
	<%= form.submit %> <%= link_to 'Cancel', companies_path, :remote => true, :class => 'canceler' %>
</div>
