<!DOCTYPE html>
<html>
	<head>
	  <title>SixArm Libraries Demo : <%= controller.controller_name %> : <%= controller.action_name %></title>
	  <%= stylesheet_link_tag 'scaffold' %>
		<%= javascript_include_tag 'http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAJ3s9my6L9bUKzmTYsD_18hT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRyPvdrE-rpVpQWUWoAIDjI2ELlfw' %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"%>
	  <%= javascript_include_tag 'DD_roundies_0.0.2a-min', 'rails', 'jquery.gmap-1.0.4-min', 'application' %>
	  <%= csrf_meta_tag %>
	</head>
	<body id='<%= controller.controller_name %>-<%= controller.action_name %>'>
		<div id='wrap'>
			<%= render :partial => "shared/banner" %>
			
			<div id='content'>
				<% if flash[:notice] -%>
					<p class="notice"><span><%= flash[:notice] %></span></p>
				<% end -%>
				<% if flash[:error] -%>
					<p class="error"><span><%= flash[:error] %></span></p>
				<% end -%> 
				<%= yield %>
			</div>

			<%= render :partial => "shared/footer" %>
		</div>
	</body>
</html>
