<!DOCTYPE html>
<html>
	<head>
	  <title>SixArm Libraries Demo : <%= controller.controller_name %> : <%= controller.action_name %></title>
	  <%= stylesheet_link_tag 'awesome-buttons', 'jquery.notifyBar', 'scaffold' %>
		<%= javascript_include_tag 'http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAJ3s9my6L9bUKzmTYsD_18hT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRyPvdrE-rpVpQWUWoAIDjI2ELlfw' %>
		<%= javascript_include_tag "jquery-1.4.2" %>
	  <%= javascript_include_tag 'DD_roundies_0.0.2a-min', 'rails', 'jquery.notifyBar', 'jquery.gmap-1.0.4-min', 'application' %>
	  <%= csrf_meta_tag %>
	</head>
	<body id='<%= controller.controller_name %>-<%= controller.action_name %>'>
		<div id='wrap'>
			<%= render :partial => "shared/banner" %>
			
			<div id='content'>
				<%= notify_bar :flash => [:notice, :success], :delay => 4000 %>
				<%= yield %>
			</div>

			<%= render :partial => "shared/footer" %>
		</div>
	</body>
</html>
